.ipynb_checkpoints
/Received_Batches_200_BaseImages_5_Frames_5_Colors
/Received_Batches_200_BaseImages_5_Frames_5_Colors_3Poses_Upscaled/
/batch
/batch_eye_region
/processed_data
/Data
/standard_data_set
/Trained_Models
/standard_data_set
/processed_data_unscaled
processed_data_upscaled.zip
processed_data_upscaled_eye_region.zip
